<template>
  <v-data-table
    v-model="selected"
    :headers="headers"
    :pagination.sync="pagination"
    :items="rows"
    :rows-per-page-items="[10, 20, 30]"
    :loading="loading"
    item-key="id"
    select-all
    @input="onInput"
  >
    <template
      slot="items"
      slot-scope="props"
    >
      <td>
        <v-checkbox
          v-model="props.selected"
          primary
          hide-details
        />
      </td>
      <td>{{ props.item.date }}</td>
      <td class="likepre">{{ props.item.detail }}</td>
      <td class="likepre">
        <v-edit-dialog
          @save="saveDescription(props.item)"
        >
          {{ props.item.description }}
          <v-text-field
            slot="input"
            v-model="props.item.description"
            label="éditer la description"
          />
        </v-edit-dialog>
      </td>
      <td>{{ (props.item.categories || []).join(';') }}</td>
      <td class="text-xs-right">{{ props.item.value }}</td>
    </template>
  </v-data-table>
</template>

<script>
export default {
  props: {
    rows: {
      type: Array,
      default() {
        return []
      }
    },
    loading: {
      type: Boolean,
      default() {
        return false
      }
    }
  },
  data() {
    return {
      headers: [
        { text: 'Date', value: 'date' },
        { text: 'Detail', value: 'detail' },
        { text: 'Description', value: 'description' },
        { text: 'Categories', value: 'categories' },
        { text: 'value', value: 'value' }
      ],
      selected: [],
      pagination: {
        sortBy: 'date',
        descending: true
      }
    }
  },
  methods: {
    onInput() {}
  }
}
</script>

<style lang="scss" scoped>
.likepre {
  white-space: pre;
}
</style>
