<template>
  <v-layout
    column
    justify-center
    align-center>
    <v-flex
      xs12
      sm8
      md6>
      <h1>Tableaux des opérations</h1>
      <op-table
        :rows="rows"
        :loading="rows.length === 0"
      />
    </v-flex>
  </v-layout>
</template>

<script>
import OpTable from '~/components/OpTable.vue'
import db from '../db'

export default {
  components: {
    OpTable
  },
  data() {
    return {
      rows: []
    }
  },
  async asyncData({ error }) {
    let rows
    try {
      rows = await db('get', '/operations')
    } catch (e) {
      console.error(e)
      error(`error when fetching data: ${e.message}`)
      return
    }
    return {
      rows
    }
  }
}
</script>
