<template>
  <div>
    <h1>Rechercher et modifier des opérations</h1>
    <form @submit.prevent="onSubmitSelectOperations">
      <v-text-field
        v-model="searchDetail"
        label="detail"
      />
      <v-text-field
        v-model="searchCategory"
        label="categorie"
      />
      <v-btn
        type="submit"
      >
        valider
      </v-btn>
    </form>
    <form @submit.prevent="onSubmitCategories">
      <v-select
        :items="categories"
        v-model="selectedCategories"
        :menu-props="{ maxHeight: '400' }"
        :disabled="!selected.length"
        label="selectionner une categorie"
        chips
        deletable-chips
        hide-selected
        clearable
        multiple
        persistent-hint
      >
        <v-list-tile
          slot="append-item"
        >
          <v-list-tile-content>
            <v-list-tile-sub-title>
              <v-text-field
                label="créer une nouvelle categorie"
                full-width
                @keypress="onNewCategory"
              />
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-select>
      <v-btn
        :disabled="!selected.length"
        type="submit"
      >
        valider
      </v-btn>
    </form>
    <op-table :rows="rows"/>
  </div>
</template>


<script>
import db from '../db'
import OpTable from '~/components/OpTable.vue'

export default {
  components: {
    OpTable
  },
  data() {
    return {
      searchCategory: '',
      searchDetail: '',
      selectedCategories: [],
      selected: [],
      selectedAugmented: [],
      rows: [],
      categories: []
    }
  },
  async asyncData({ error }) {
    const categories = new Set()
    let rows
    try {
      rows = await db('get', '/operations')
    } catch (e) {
      console.log(e)
      error(`error when fetching data: ${e.message}`)
      return
    }
    for (let item of rows) {
      if (item.categories === null) {
        continue
      }
      for (let c of item.categories) {
        categories.add(c)
      }
    }
    return {
      rows,
      categories: Array.from(categories)
    }
  },
  methods: {
    onInput() {
      const selectedCategories = new Set()
      for (let s of this.selected) {
        const categories = s.categories || []
        for (let c of categories) {
          selectedCategories.add(c)
        }
      }
      this.selectedCategories = Array.from(selectedCategories)
    },
    onNewCategory(ev) {
      if (ev.key === 'Enter') {
        const categories = new Set(this.categories)
        const value = ev.target.value
        if (value && !categories.has(value)) {
          this.categories.push(value)
        }
      }
    },
    async onSubmitCategories() {
      const ids = this.selected.map(i => i.id)
      let rows
      try {
        rows = await db('post', '/operations/categories', {
          ids,
          newCategories: this.selectedCategories
        })
      } catch (e) {
        console.log(e)
        return
      }
      this.rows = rows
      this.selected = []
      this.selectedCategories = []
    },
    async onSubmitSelectOperations() {
      const categories = new Set()
      let rows
      let q = ''
      if (this.searchCategory) {
        q += `category=${this.searchCategory}`
      }
      if (this.searchDetail) {
        q += `detail=${this.searchDetail}`
      }
      try {
        rows = await db('get', '/operations', {
          query: { detail: this.searchDetail, category: this.searchCategory }
        })
      } catch (e) {
        console.log(e)
        this.$nuxt.error(`error when fetching data: ${e.message}`)
        return
      }
      for (let item of rows) {
        if (item.categories === null) {
          continue
        }
        for (let c of item.categories) {
          categories.add(c)
        }
      }
      this.rows = rows
    },
    async saveDescription(row) {
      console.log('save description', row)
      try {
        await db('post', '/operation', row)
      } catch (e) {
        console.log(e)
        this.$nuxt.error(`error when updating data: ${e.message}`)
      }
    }
  }
}
</script>
